@import "./var";
@import "./common";

// ========== header ================

.header {
  background-color: $primary;
  position: sticky;
  top: 0;
  z-index: 99;
  .navbar {
    align-items: center;
  }
  .menu_list {
    color: $white;
  }
  .nav-link {
    color: inherit;
    font-size: 14px;
  }
  @include max($xl2) {
    .menu_list {
      .nav-link {
        font-size: 12px;
      }
    }
  }
}

// ========== banner ==============
.banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 91px);
  max-height: 640px;
  display: flex;
  align-items: flex-end;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.52) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .banner_wrapper {
    padding: 2rem 0;
  }
  .banner_content {
    color: #fff;
    max-width: 582px;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      bottom: calc(100% + 1rem);
      height: 8px;
      width: 105px;
      background-color: $secondary;
    }
    h1 {
      margin-bottom: 1.25rem;
    }
    p {
      opacity: 0.88;
    }
  }
}

// ============== Quick search =================
.quickSearch {
  .search_inner {
    background: $white;
    box-shadow: 0px 20px 50px rgba(219, 222, 225, 0.4);
    border-radius: 12px;
    min-height: 150px;
    margin-top: -2rem;
    position: relative;
    z-index: 1;
    padding: 1.5rem;
  }
  .search_wrapper {
    display: flex;
  }
}

// =========== get in touch =====================

.homes {
  background: linear-gradient(
    180deg,
    rgba(12, 31, 61, 0) 0%,
    rgba(12, 31, 61, 0.06) 52.4%,
    rgba(12, 31, 61, 0.06) 100%
  );
  .heading {
    text-align: center;
    margin-bottom: calc(var(--sec_space) / 2);
  }
  .homes_slider {
    &.owl-theme {
      .owl-dots {
        padding-top: 30px;
        .active {
          span {
            background: $primary;
          }
        }
      }
      .owl-nav {
        position: absolute;
        right: 0;
        bottom: -10px;
        display: flex;
        button {
          padding: 10px !important;
          border-radius: 8px;
          color: #647083;
          line-height: 1;
          background-color: #fff;
          font-size: 2rem;
          height: 44px;
          width: 44px;
          outline: none;
          @include flexCenter;
          vertical-align: middle;
          span {
            line-height: 0;
          }
        }
      }
    }
  }
  .card_img {
    height: 275px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content {
    border-radius: 10px;
    background-color: #fff;
    width: calc(100% - 22px);
    margin-left: auto;
    margin-top: -2rem;
    padding: 1.5rem;
    h4 {
    }
    p {
      margin: 1rem 0;
      color: $text_color;
    }
    button {
      color: $secondary;
      background-color: transparent;
      padding: 2px 0;
    }
  }
}

// ==========services ============

.services {
  .images_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .left_images {
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        &:first-child {
          width: 80%;
          margin-left: auto;
        }
      }
    }
    // > * {
    //   flex-shrink: 0;
    //   flex-basis: auto;
    // }
  }
  .content {
    p {
      color: $text_color;
    }
  }
}

// ============= for sale ==============
.forSale {
  padding-top: calc(var(--sec_space) / 2);
  .heading_wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3.875rem;
    .heading {
      h2 {
        margin: 0;
      }
      p {
        margin: 0;
        color: $text_color;
      }
    }
  }
  .sales_wrapper {
    --space: 18px;

    display: flex;
    margin: 0 calc(-1 * var(--space));
    flex-wrap: wrap;
    gap: calc(var(--space) * 2) 0;
    .card_col {
      flex-basis: 30%;
      padding: 0 var(--space);
    }
    .card_col_lg {
      flex-basis: 40%;
      padding: 0 var(--space);
    }
    .card {
      cursor: pointer;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 340px;
      border-radius: 1.25rem;
      // overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 25.83%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
    }
    .content {
      position: absolute;
      z-index: 2;
      left: 1rem;
      color: #fff;
      bottom: 1rem;
    }
  }
}

// ============== contact us =============
.contactUs {
  .contact_inner {
    padding: 0 2rem;
    position: relative;
    background: linear-gradient(180deg, #ff4851 0%, #d00a0a 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
  }
  .contactType_wrap {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    .single_type {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        margin: 0;
      }
    }
    .icon {
      height: 2.25rem;
      width: 2.25rem;
      background-color: #fff;
      @include flexCenter;
      border-radius: 50%;
    }
  }
  .content_wrap {
    color: $white;
  }
  .image_wrap {
    margin-top: -14%;
  }
}
// =============footer ================
.footer {
  padding: calc(var(--sec_space) / 2) 0;
  background-color: $primary;
  color: $white;

  .footer_top {
    --spacing: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgba($white, 0.2);
    display: flex;
    margin: 0 calc(-1 * var(--spacing));
    > * {
      padding: 0 var(--spacing);
    }
    .footer_col1 {
      flex-basis: 35%;
      .footer_logo {
        img {
          height: 91px;
        }
      }
      .subline {
        font-weight: 600;
        margin: 12px 0 1.5rem;
      }
      .address {
        h6 {
          margin-bottom: 12px;
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
      .social_links {
        margin-top: 2.25rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        a {
          cursor: pointer;
          height: 2.25rem;
          width: 2.25rem;
          border-radius: 50%;
          border: 2px solid rgba($white, 0.25);
          @include flexCenter;
          svg {
            max-height: 14px;
          }
        }
      }
    }
    .footer_col2 {
      flex-basis: 18%;
      a {
        display: contents;
        color: inherit;
      }
      h5 {
        margin-top: 1.5rem;
        min-height: 40px;
      }
      ul {
        opacity: 0.9;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 13px;
      }
    }
    .footer_col3 {
      flex-basis: 28%;
      .contact_card {
        // margin-top: 1rem;
        padding: 1.5rem 1.75rem;
        background-color: rgba($white, 0.1);
        h5 {
          margin-bottom: 1.5rem;
        }
      }
      .single_field {
        max-width: 245px;
        height: 47px;
        margin-bottom: 12px;
        input {
          border-radius: 6px 0 0 6px;
          font-size: 14px;
        }
        button {
          border: none;
          border-radius: 0 6px 6px 0;
          color: #fff;
        }
      }
    }
  }
  .footer_bottom {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer_bottomLeft {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      img {
        max-height: 36px;
        max-width: 150px;
      }
      .text {
        a {
          margin-bottom: 4px;
          display: block;
          text-decoration: underline;
        }
      }
    }
    .footer_bottomRight {
      display: flex;
      gap: 2rem;
      select {
        background-color: #243550;
        border-radius: 6px;
        border: none;
        border-left: 1px solid #e7e8f2;
        color: $white;
        width: 220px;
        padding: 10px 16px;
        height: 40px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
        option {
          color: $white;
        }
      }
      .btns_wrap {
        display: flex;
        gap: 1rem;
        button {
          @include flexCenter;
          background-color: #243550;
          color: #fff;
          border: none;
          border-radius: 6px;
        }
        img {
          max-width: 90%;
          max-height: 90%;
        }
      }
    }
  }
}
