@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
:root {
  --f54: 54px;
  --f40: 40px;
  --f36: 36px;
  --f32: 32px;
  --f24: 24px;
  --f20: 20px;
  --f18: 18px;
  --f16: 16px;
  --f14: 14px;
  --btnSpace: 1.25rem;
  --sec_space: 100px;
}
@media screen and (max-width: 1365px) {
  :root {
    --f54: 42px;
  }
}
@media screen and (max-width: 991px) {
  :root {
    --f54: 40px;
    --f40: 36px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --sec_space: 50px;
    --f54: 36px;
    --f48: 34px;
    --f40: 30px;
    --f36: 26px;
    --f32: 24px;
    --f24: 20px;
    --f20: 18px;
    --f18: 16px;
    --f16: 14px;
    --btnSpace: 1rem;
  }
}
@media screen and (max-width: 567px) {
  :root {
    --f40: 26px;
    --f20: 16px;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  min-height: 100vh;
  font-family: "Gilroy" !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: var(--f54);
  font-weight: 700;
}

h2 {
  font-size: var(--f32);
  font-weight: 700;
}

h3 {
  font-size: var(--f24);
  font-weight: 700;
}

h4 {
  font-size: var(--f20);
  font-weight: 600;
}

h5 {
  font-size: var(--f16);
  font-weight: 600;
}

h6 {
  font-size: var(--f14);
  font-weight: 400;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}

.section {
  padding: var(--sec_space) 0;
}

.heading h6 {
  color: #ee161f;
}
.heading h2 {
  margin: 12px 0 1.75rem;
}

.heading2 {
  position: relative;
}
.heading2::before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 8px;
  width: 105px;
  background-color: #ee161f;
}
.heading2 h2 {
  margin: 12px 0 1rem;
}
.heading2 p {
  color: #647083;
  margin: 0;
}

.btn {
  min-height: 46px;
  font-weight: 500;
  border-radius: 4px;
}
.btn:focus, .btn:active {
  box-shadow: none !important;
}
.btn.btn-primary {
  background-color: #0c1f3d;
}
.btn.btn-secondary {
  background-color: #ee161f;
  border-color: #ee161f;
}
.btn.btn-secondary:active {
  background-color: #ee161f;
  border-color: #ee161f;
}

.header {
  background-color: #0c1f3d;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header .navbar-brand img {
  max-height: 64px;
}
.header .navbar {
  align-items: center;
}
.header .menu_list {
  color: #fff;
}
.header .nav-link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
}
.header .profile {
  cursor: pointer;
}
.header .profile img {
  max-width: 2rem;
}
@media screen and (max-width: 1365px) {
  .header .menu_list .nav-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
  .header .menu_list {
    max-height: 400px;
    overflow-y: auto;
  }
  .header .profile {
    display: none;
  }
  .header .navbar-toggler {
    display: flex;
    flex-direction: column;
    gap: 6px;
    outline: none;
  }
  .header .navbar-toggler span {
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
  }
  .header .navbar-brand img {
    max-height: 54px;
  }
}

.banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 91px);
  min-height: 300px;
  max-height: 640px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0) 100%);
}
.banner .banner_wrapper {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .banner .banner_wrapper {
    padding-bottom: 6rem;
  }
}
.banner .banner_content {
  color: #fff;
  max-width: 582px;
  position: relative;
  z-index: 1;
}
.banner .banner_content::before {
  content: "";
  position: absolute;
  bottom: calc(100% + 1rem);
  height: 8px;
  width: 105px;
  background-color: #ee161f;
}
.banner .banner_content h1 {
  margin-bottom: 1.25rem;
}
.banner .banner_content p {
  opacity: 0.88;
}
.banner .banner_slider {
  width: 620px;
  position: absolute;
  right: -1rem;
  bottom: 4rem;
}
.banner .banner_slider .item .image {
  border-radius: 10px;
  height: 232px;
  background-position: center;
  background-size: cover;
}
.banner .banner_slider .item img {
  border-radius: inherit;
}
.banner .banner_slider .owl-nav button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 2rem;
  background-color: #fff;
  color: #0c1f3d;
  cursor: pointer;
  outline: none;
}
.banner .banner_slider .owl-nav button.disabled {
  background-color: transparent;
  color: #fff;
  opacity: 1;
}
@media screen and (max-width: 1365px) {
  .banner .banner_content {
    max-width: 445px;
  }
}
@media screen and (max-width: 1199px) {
  .banner .banner_slider {
    display: none;
  }
}

.quickSearch {
  z-index: 9;
  position: relative;
}
.quickSearch .search_inner {
  background: #fff;
  box-shadow: 0px 20px 50px rgba(219, 222, 225, 0.4);
  border-radius: 12px;
  min-height: 150px;
  margin-top: -2rem;
  position: relative;
  z-index: 1;
  padding: 1.5rem;
}
.quickSearch .fields_wrapper {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.quickSearch .fields_wrapper .input_col {
  flex-basis: 15%;
  flex-grow: 1;
}
.quickSearch .fields_wrapper .input_col.col1 {
  flex-basis: 20%;
}
@media screen and (max-width: 567px) {
  .quickSearch .fields_wrapper {
    gap: 10px;
  }
  .quickSearch .fields_wrapper .input_col {
    flex-basis: 100%;
  }
  .quickSearch .fields_wrapper .input_col.col1 {
    flex-basis: 100%;
  }
}
.quickSearch .search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.quickSearch .search_btn button {
  border-radius: 10px;
  height: 100%;
  aspect-ratio: 1;
}
.quickSearch .search_btn img {
  max-width: 60%;
  height: auto;
}
.quickSearch .singleField {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(235, 237, 240);
  font-size: 14px;
}
.quickSearch .singleField label {
  white-space: nowrap;
  cursor: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}
.quickSearch .singleField label img {
  max-width: 20px;
  max-height: 20px;
}
.quickSearch .singleField input {
  color: #647083;
  background-color: transparent;
  border: none;
}
.quickSearch .singleField input:focus {
  outline: none;
}
.quickSearch .singleField input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.quickSearch .singleField input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.quickSearch .singleField .inputText {
  color: #647083;
}
.quickSearch .singleField.hasDropdown {
  padding-right: 2.5rem;
  cursor: pointer;
  position: relative;
}
.quickSearch .singleField.hasDropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  height: 10px;
  width: 10px;
  transform: translate(0, -80%) rotate(45deg);
  border-right: 2px solid #363a3d;
  border-bottom: 2px solid #363a3d;
}
.quickSearch .dropdown-menu {
  max-width: 140%;
  min-width: 200px;
  color: #647083;
  padding: 12px;
  font-size: 14px;
  border: none;
  background: #ecedef;
  border-radius: 8px;
}
.quickSearch .dropdown-menu .dropdown-item {
  color: inherit;
}
@media screen and (max-width: 567px) {
  .quickSearch .dropdown-menu {
    min-width: 100%;
    margin-top: 4px;
    box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.4);
  }
}
.quickSearch .price_menu .minMax_wrapper {
  display: flex;
  gap: 10px;
}
.quickSearch .price_menu .minMax_wrapper .input_wrap {
  flex-basis: 50%;
  max-width: 50%;
}
.quickSearch .price_menu .minMax_wrapper .input_wrap label {
  margin: 0;
}
.quickSearch .price_menu .minMax_wrapper .input_wrap input {
  width: 100%;
  padding: 4px;
  border: none;
  border-radius: 6px;
  border: 1px solid rgba(100, 112, 131, 0.4);
}
.quickSearch .price_menu .minMax_wrapper .input_wrap input:focus {
  outline: none;
}
.quickSearch .price_menu button {
  margin-top: 10px;
  border-radius: 6px;
  display: block;
  color: #647083;
  width: 100%;
  border: 1px solid currentColor;
  min-height: 25px;
}
.quickSearch .price_menu .price_list_wrapper {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.quickSearch .price_menu .price_list_wrapper .price_list_col {
  flex-basis: 50%;
  max-width: 50%;
}
.quickSearch .price_menu .price_list_wrapper .price_list_col > label {
  display: block;
  margin: 0 0 0 4px;
}
.quickSearch .price_menu .price_list_wrapper .radio_btn label {
  background-color: #fff;
  display: block;
  border-radius: 6px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c1f3d;
  min-height: 30px;
}
.quickSearch .price_menu .price_list_wrapper .radio_btn input {
  display: none;
}
.quickSearch .price_menu .price_list_wrapper .radio_btn input:checked + label {
  background-color: #ee161f;
  color: #fff;
}
.quickSearch .horizontal_radio {
  display: flex;
  border: 1px solid #647083;
  border-radius: 4px;
  overflow: hidden;
}
.quickSearch .horizontal_radio .radio_btn {
  flex-basis: 20%;
  flex-grow: 1;
}
.quickSearch .horizontal_radio .radio_btn label {
  padding: 4px 6px;
  margin: 0;
  height: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quickSearch .horizontal_radio .radio_btn:not(:last-child) label {
  border-right: 1px solid #647083;
}
.quickSearch .horizontal_radio .radio_btn input {
  display: none;
}
.quickSearch .horizontal_radio .radio_btn input:checked + label {
  background-color: #ee161f;
  color: #fff;
}

.homes {
  background: linear-gradient(180deg, rgba(12, 31, 61, 0) 0%, rgba(12, 31, 61, 0.06) 52.4%, rgba(12, 31, 61, 0.06) 100%);
}
.homes .heading {
  text-align: center;
  margin-bottom: calc(var(--sec_space) / 2);
}
.homes .heading button {
  min-width: 165px;
}
.homes .homes_slider.owl-theme .owl-dots {
  padding-top: 30px;
}
.homes .homes_slider.owl-theme .owl-dots .active span {
  background: #0c1f3d;
}
.homes .homes_slider.owl-theme .owl-nav {
  position: absolute;
  right: 0;
  bottom: -10px;
  display: flex;
}
.homes .homes_slider.owl-theme .owl-nav button {
  padding: 10px !important;
  border-radius: 8px;
  color: #fff;
  line-height: 1;
  background-color: #0c1f3d;
  font-size: 2rem;
  height: 44px;
  width: 44px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.homes .homes_slider.owl-theme .owl-nav button span {
  line-height: 0;
}
.homes .homes_slider.owl-theme .owl-nav button.disabled {
  background-color: #fff;
  color: #647083;
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .homes .homes_slider.owl-theme .owl-nav {
    display: none;
  }
}
.homes .card_img {
  height: 275px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homes .content {
  border-radius: 10px;
  background-color: #fff;
  width: calc(100% - 22px);
  margin-left: auto;
  margin-top: -2rem;
  padding: 1.5rem;
}
.homes .content p {
  margin: 1rem 0;
  color: #647083;
}
.homes .content button {
  color: #ee161f;
  background-color: transparent;
  padding: 2px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}
.homes .content button .icn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ee161f;
  height: 1.1rem;
  aspect-ratio: 1;
}
.homes .content button .icn img {
  max-width: 60%;
}

.services .images_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.services .images_wrapper .left_images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services .images_wrapper .left_images img:first-child {
  width: 80%;
  margin-left: auto;
}
.services .content p {
  color: #647083;
}
.services .content button {
  min-width: 185px;
}
@media screen and (max-width: 991px) {
  .services .content {
    margin-bottom: 1rem;
  }
}

.forSale {
  padding-top: calc(var(--sec_space) / 2);
}
.forSale .heading_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 3.875rem;
}
.forSale .heading_wrap .heading h2 {
  margin: 0;
}
.forSale .heading_wrap .heading p {
  margin: 0;
  color: #647083;
}
.forSale .heading_wrap button {
  min-width: 140px;
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forSale .sales_wrapper {
  --space: 18px;
  display: flex;
  margin: 0 calc(-1 * var(--space));
  flex-wrap: wrap;
  gap: calc(var(--space) * 2) 0;
}
.forSale .sales_wrapper .card_col {
  flex-basis: 30%;
  padding: 0 var(--space);
}
.forSale .sales_wrapper .card_col_lg {
  flex-basis: 40%;
  padding: 0 var(--space);
}
.forSale .sales_wrapper .card {
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 340px;
  border-radius: 1.25rem;
}
.forSale .sales_wrapper .card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.83%, rgba(0, 0, 0, 0.8) 100%);
}
.forSale .sales_wrapper .content {
  position: absolute;
  z-index: 2;
  left: 1rem;
  color: #fff;
  bottom: 1rem;
}
@media screen and (max-width: 1199px) {
  .forSale .sales_wrapper .card_col,
  .forSale .sales_wrapper .card_col_lg {
    flex-basis: 33.33%;
  }
}
@media screen and (max-width: 991px) {
  .forSale .sales_wrapper .card_col,
  .forSale .sales_wrapper .card_col_lg {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 767px) {
  .forSale .sales_wrapper .card_col,
  .forSale .sales_wrapper .card_col_lg {
    flex-basis: 100%;
  }
}

.contactUs .dots_layer {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.contactUs .dots_layer img {
  max-height: 110%;
}
.contactUs .contact_inner {
  padding: 0 2rem;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #ff4851 0%, #d00a0a 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}
.contactUs .contactType_wrap {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contactUs .contactType_wrap .single_type {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contactUs .contactType_wrap .single_type p {
  margin: 0;
}
.contactUs .contactType_wrap .single_type h5 {
  font-size: 1rem;
}
.contactUs .contactType_wrap .icon {
  flex-shrink: 0;
  height: 2.25rem;
  width: 2.25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contactUs .content_wrap {
  padding: 1rem 0;
  color: #fff;
}
.contactUs .image_wrap {
  margin-top: -14%;
}
@media screen and (max-width: 991px) {
  .contactUs .image_wrap {
    margin-top: -5%;
  }
}
@media screen and (max-width: 767px) {
  .contactUs .contact_inner {
    align-items: flex-end;
  }
  .contactUs .image_wrap {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .contactUs .contact_inner {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .contactUs .contact_inner > * {
    flex-basis: 100%;
  }
  .contactUs .contact_inner .image_wrap {
    display: none;
  }
}

.footer {
  padding: calc(var(--sec_space) / 2) 0;
  background-color: #0c1f3d;
  color: #fff;
}
.footer .footer_top {
  --spacing: 1rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  margin: 0 calc(-1 * var(--spacing));
}
.footer .footer_top > * {
  padding: 0 var(--spacing);
}
.footer .footer_top .footer_col1 {
  flex-basis: 35%;
}
.footer .footer_top .footer_col1 .footer_logo img {
  height: 91px;
}
.footer .footer_top .footer_col1 .subline {
  font-weight: 600;
  margin: 12px 0 1.5rem;
}
.footer .footer_top .footer_col1 .address h6 {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer_top .footer_col1 .address h6 svg {
  height: 18px;
  width: 18px;
}
.footer .footer_top .footer_col1 .social_links {
  margin-top: 2.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer_top .footer_col1 .social_links a {
  cursor: pointer;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_top .footer_col1 .social_links a svg {
  max-height: 14px;
}
.footer .footer_top .footer_col2 {
  flex-basis: 18%;
}
.footer .footer_top .footer_col2 a {
  display: contents;
  color: inherit;
}
.footer .footer_top .footer_col2 h5 {
  margin-top: 1.5rem;
  min-height: 40px;
}
.footer .footer_top .footer_col2 ul {
  opacity: 0.9;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  white-space: nowrap;
}
.footer .footer_top .footer_col3 {
  flex-basis: 28%;
}
.footer .footer_top .footer_col3 .contact_card {
  padding: 1.5rem 1.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .footer_top .footer_col3 .contact_card h5 {
  margin-bottom: 1.5rem;
}
.footer .footer_top .footer_col3 .single_field {
  max-width: 245px;
  height: 47px;
  margin-bottom: 12px;
}
.footer .footer_top .footer_col3 .single_field input {
  border-radius: 6px 0 0 6px;
  font-size: 14px;
}
.footer .footer_top .footer_col3 .single_field input:focus {
  box-shadow: none;
}
.footer .footer_top .footer_col3 .single_field button {
  border: none;
  border-radius: 0 6px 6px 0;
  color: #fff;
}
.footer .footer_top .footer_col3 .single_field button img {
  max-width: 16px;
}
@media screen and (max-width: 991px) {
  .footer .footer_top {
    flex-wrap: wrap;
  }
  .footer .footer_top .footer_col1 {
    order: -2;
  }
  .footer .footer_top .footer_col1,
  .footer .footer_top .footer_col2 {
    flex-grow: 1;
  }
  .footer .footer_top .footer_col3 {
    order: -1;
    margin-top: 20px;
    flex-basis: 50%;
  }
  .footer .footer_top .footer_col3 .single_field {
    max-width: none;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer_top {
    gap: 1rem;
  }
  .footer .footer_top .footer_col1,
  .footer .footer_top .footer_col3 {
    flex-basis: 100%;
    order: initial;
  }
}
.footer .footer_bottom {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer_bottom .footer_bottomLeft {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer .footer_bottom .footer_bottomLeft img {
  max-height: 36px;
  max-width: 150px;
}
.footer .footer_bottom .footer_bottomLeft .text a {
  margin-bottom: 4px;
  display: block;
  text-decoration: underline;
}
.footer .footer_bottom .footer_bottomRight {
  display: flex;
  gap: 2rem;
}
.footer .footer_bottom .footer_bottomRight select {
  background-color: #243550;
  border-radius: 6px;
  border: none;
  border-left: 1px solid #e7e8f2;
  color: #fff;
  width: 220px;
  padding: 10px 16px;
  height: 40px;
}
.footer .footer_bottom .footer_bottomRight select:focus {
  box-shadow: none;
  outline: none;
}
.footer .footer_bottom .footer_bottomRight select option {
  color: #fff;
}
.footer .footer_bottom .footer_bottomRight .btns_wrap {
  display: flex;
  gap: 1rem;
}
.footer .footer_bottom .footer_bottomRight .btns_wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #243550;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.footer .footer_bottom .footer_bottomRight .btns_wrap img {
  max-width: 90%;
  max-height: 90%;
}
@media screen and (max-width: 991px) {
  .footer .footer_bottom {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer .footer_bottom > * {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer_bottom .footer_bottomLeft {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer .footer_bottom .footer_bottomLeft .text {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=styles.css.map */